<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ theme.settings.set('placeholder', 'images/placeholder.png') }}

    <script defer data-cfasync="false" crossorigin="anonymous" src="{{ 'product-card.js' | asset }}"></script>

    {% block head_scripts %}{% endblock %}

    <script data-cfasync="false">
        window.header_is_sticky = "{{ theme.settings.get('header_is_sticky', true) }}"
        window.can_access_wallet  = {{ user.can_access_wallet | json_encode }}
    </script>

    {% hook 'head:start' %}
    {% hook head %}
    {% block page_head %}{% endblock %}

    {% block styles %}{% endblock %}

    {# Theme compiled CSS #}
    <link rel="stylesheet" href="{{ 'app.css' | asset }}">

    {# Salla font + icons #}
    <link rel="stylesheet" href="{{ theme.font.path | cdn }}"/>
    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css' | cdn }}"/>

    {# CSS Variables from Salla color picker #}
    <style>
        :root {
            --font-main          : '{{ theme.font.name }}';
            --color-primary      : {{ theme.color.primary }};
            --color-primary-dark : {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
        }
    </style>

    {% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden {% block body_class %}{% endblock %} {% hook 'body:classes' %}">

    {% hook 'body:start' %}

    {# Header Component #}
    {% component 'header.header' %}

    {# Main Content #}
    <main id="main-content" role="main">
        {% block content %}{% endblock %}
    </main>

    {# Footer Component #}
    {% component 'footer.footer' %}

    {% hook 'body:end' %}

    {# Salla Web Components #}
    <salla-offer-modal></salla-offer-modal>
    <salla-search></salla-search>

    {% if user.type == 'guest' %}
        <salla-login-modal></salla-login-modal>
    {% endif %}

    {# Theme compiled JS #}
    <script defer crossorigin="anonymous" src="{{ 'app.js' | asset }}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>
